.productcard-container{
    height: 80vh;
 background-color: aqua;
 /* margin-top: 1; */
 width: 100%;
 display: flex;
 overflow: auto;
 flex-direction: row;
flex-wrap: wrap;
align-content: center;
justify-content: flex-start;
align-items: center;
}